* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height:100vh !important;
    overflow-y: scroll;
    /* font-family:'lexend', sans-serif; */
}
.nav {
    justify-content: flex-end;
    width: 100%;
    background-color: rgb(50, 48, 54);
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
.container {
    background-color: rgb(166 147 147 / 12%);
    padding: 20px;
}

.nav-link {
    font-size: 1.2rem;
}
.back{
    display: flex;
    justify-content: flex-end;
}
.message-box {
    position: fixed;
    top: 70px;
    right: 10px;
    z-index: 1050;
    min-width: 300px;
}

.fade-out {
    animation: fadeOut 5s forwards; 
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        visibility: hidden;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}