<!doctype html>
<html lang="en">

<head>
    <title>Post details</title>
    {% load static %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'post_detail_page.css'%}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <form method="POST">
        {% csrf_token %}
        <div class='post_detail'>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="{% url 'home_page' %}">BLOGS</a>
                    <div class="mx-auto">
                        <a class="nav-link active text-white" href="{% url 'home_page' %}">Home</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="container mt-3">
            <h1>{{ post.title }}</h1>
            <p>{{ post.content }}</p>
            <small>Published on: {{ post.published }}</small>
            <div>
                <a class="btn btn-danger" href="{% url 'delete_post' post.id %}" role="button">Delete Post</a>
                <a class="btn btn-success" href="{% url 'edit_post' post.id %}" role="button">Edit Post</a>
            </div>
    </form>
    <div class="back">
        <a class="btn btn-secondary" href="{% url 'home_page' %}" role="button">Back to Home</a>
    </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>